* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../imagens/mario.inicial.jpg);
}

.btn-outline-success{
  display: flexbox;
  margin-top: 250px;
  margin-left: 470px;
  margin-right: auto;
  width: 250px;
  
}

